.classpath
.project
.settings
.springBeans
target
*.iml
*.idea/
.idea/**
*.log
*.sw*
src/main/non-packaged-resources/keyStore/**
src/main/non-packaged-resources/trustStore/**
src/scripts/clients/**
src/scripts/server/**
